.navbar.navbar-default(role='navigation')
  .container-fluid
    .navbar-header
      button.navbar-toggle.collapsed(data-toggle='collapse', data-target='#bs-navbar-collapse')
        span.sr-only Toggle
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') Portfolio
      a.navbar-brand(href='/#/about', class='fa fa-home') About
      a.navbar-brand(href='/#/register') Projects

    .collapse.navbar-collapse#bs-navbar-collapse
      .nav.navbar-nav
{{title}}




.row
  .col-xs-12
    h3 Angular
    .panel#projects(ng-repeat='a in angular') {{a}}
  
.row
  .col-xs-12
    h3 Mobile
    .panel#projects(ng-repeat='m in mobile') {{m}}

.row
  .col-xs-12
    h2 Games
    .panel#projects
      h3 Flappy Bird
      br
      a(href='http://mkeef1.github.io/flappy-bird') Play the Game &nbsp &nbsp
      a(href='https://github.com/mkeef1/flappy-bird') View on Github

.row
  .col-xs-12
    h3 Capstone
    .panel#projects(ng-repeat='c in capstone') {{c}}
  
  
  

