p {{title}}

.row
  .col-xs-6
    br
    img(ng-src='assets/person.png')
  .col-xs-6
    h2 Resume
    p stuff
    p stuff
    p stuff
a(href='https://medium.com/@mhkeef') My Development Blog

.navbar.navbar-default(role='navigation')
  .container-fluid
    .navbar-header
      button.navbar-toggle.collapsed(data-toggle='collapse', data-target='#bs-navbar-collapse')
        span.sr-only Toggle
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') Portfolio

    .collapse.navbar-collapse#bs-navbar-collapse
      .nav.navbar-nav.navbar-right
        li: a(href='/#/', class='fa fa-home') &nbsp Home
        li: a(href='/#/register') Register
        li: a(href='/#/login') Login
      ul.nav.navbar-nav.navbar-right(ng-show='email')
        li: a(href='/#/profile', class='glyphicon glyphicon-user') &nbsp Profile
        li: a(href='/#/dashboard', class='fa fa-bar-chart') &nbsp Dashboard
        li: a(href='/#/logout', class='fa fa-times') &nbsp Logout
        li: a(href='') {{email}}


.row
  .col-xs-12
    h3 Angular
    .panel#projects(ng-repeat='a in angular') {{a}}
  
.row
  .col-xs-12
    h3 Mobile
    .panel#projects(ng-repeat='m in mobile') {{m}}

.row
  .col-xs-12
    h3 Games
    .panel#projects(ng-repeat='g in games') {{g}}

.row
  .col-xs-12
    h3 Capstone
    .panel#projects(ng-repeat='c in capstone') {{c}}
  
  
  

